* {
    margin: 0;
    padding: 0;
}


:root {
    color: #c8a2c8;
    color: #e9dae9;
    --bg-color1: #003060;
    --bg-color2: #e0e0e0;
    --bg-color3: #fff;
    --button-hover: #68bbe3;
    --button-color: #0e86d4;
    --text-color1: #003060;
    --text-color2: #909090;
    --text-color3: #000;
    --text-color4: #fff;
}


body {
    font-family: "Poppins", serif;
    color: var(--text-color4);
    font-weight: 500;
    overflow-y: scroll;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* For most modern browsers */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    /* For Firefox */
    -webkit-appearance: textfield;
    /* For Safari and Chrome */
}


/* To hide the spinners in WebKit browsers (Chrome, Edge, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    /* Optional: Adjust layout */
}


.form-control {
    margin: 5px;
    border-radius: 12px;
}

/***************************************************************************************************/

/**CUSTOM CSS**/

.d-view {
    display: block !important;
}

.m-view {
    display: none !important;
}

/***************************************************************************************************/


header {
    background-color: var(--bg-color1);
    position: fixed;
    width: 100%;
    z-index: 999999;
}


header nav.navbar {
    max-height: 55px;
}


header nav.navbar a img {
    width: 100%;
    height: 35px;
    object-fit: contain;
}


header nav.navbar .navbar-collapse {
    justify-content: space-evenly;
}


header nav.navbar .navbar-collapse .navbar-nav a {
    color: var(--text-color4);
    margin: 15px;
}


header nav.navbar .navbar-collapse .navbar-nav a:hover {
    color: var(--button-hover);
}


#home .hero-section .bg-img img {
    position: fixed;
    padding: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
    object-fit: cover;
    z-index: -1;
}


#home .content {
    display: flex;
    position: relative;
    top: 35px;
    left: 5%;
    align-items: center;
    justify-content: space-between;
}


#home .content .details h1 {
    margin: 20px auto;
    font-size: 48px;
    font-weight: 700;
    white-space: nowrap;
}


#home .content .details p {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 200;
}


#home .content .head-form {
    position: relative;
    left: 5%;
    width: 100%;
    height: 530px;
}


#home .content form {
    position: absolute;
    width: 350px;
    margin: 50px 0;
    padding: 20px;
    background: #ffffff69;
    border: 2px solid #ffffff6e;
    border-radius: 26px;
}


#home .content form .form-header {
    display: flex;
    align-items: center;
}


#home .content form .form-header h5 {
    font-size: 30px;
    margin-left: 20px;
    font-weight: 600;
    color: #003060;
}


#home .content form .form-header i {
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 25px;
    color: var(--bg-color1);
}


#home .content form .form-btn {
    background: var(--bg-color1);
    color: var(--text-color4);
    border-radius: 15px;
    margin-left: 20px;
    width: 85%;
    margin-top: 10px;
}


#clients {
    background: var(--bg-color2);
    margin-top: 35px;
}


#clients .client-slide {
    display: flex !important;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
}


#clients .client-slide .slider {
    margin: 15px;
}


#clients .client-slide .slider img {
    width: 65%;
    height: 85px;
    object-fit: contain;
}


#about {
    background: var(--bg-color3);
    padding: 60px 0 60px;
}


#about .about-heading h3 {
    color: var(--text-color1);
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}


#about .video {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


#about .video video {
    height: 450px;
    width: 500px;
}


#about .video .btn {
    background: var(--bg-color1);
    position: relative;
    bottom: 50px;
    left: 5%;
    width: 100%;
    padding: 15px 40px;
    border: none;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 28px;
    font-weight: 550;
}


#about .video .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


#about .about-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#about .about-content {
    position: absolute;
    left: 50%;
}


#about .about-content .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


#about .card {
    margin-right: 25px;
    width: 300px;
    max-height: 230px;
    padding: 20px;
    transition: 1s ease-in-out;
}


#about .card:hover {
    transform: scale(1.19999);
    z-index: 1;
}


#about .card-3 {
    position: relative;
    top: 25px;
    left: 25%;
}


#about .card .heading {
    font-size: 25px;
    font-weight: 600;
}


#about .card .body p,
#about .card .body ul li {
    font-size: 13px;
    color: var(--text-color2);
}


#about .card:hover .body p,
#about .card:hover .body ul li {
    color: var(--text-color1);
    font-weight: 500;
}

#vcfo {
    background: var(--bg-color1);
    padding: 60px 0;
}

#vcfo .vcfo-heading h3 {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

#vcfo .vcfo-heading p {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

#vcfo .vcfo-slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#vcfo .card {
    padding: 25px;
    background: #ffffffa6;
    color: var(--text-color1);
    max-width: 400px;
    margin: 10px 25px;
    max-height: 240px;
    border-radius: 25px;
}

#vcfo .card .card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#vcfo .card .card-heading h5 {
    font-weight: 650;
}

#vcfo .card .card-heading img {
    width: 15%;
    height: 55px;
    object-fit: contain;
}

#vcfo .card .card-body {
    margin: 20px 0 0;
    padding: 0;
}

#vcfo .card .card-body .btn {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 10px;
    background: none;
    border: none;
    color: #000;
    padding: 0;
    font-weight: 500;
}

#vcfo .card .card-body .btn i {
    margin-left: 10px;
}

#industries {
    background: var(--bg-color3);
    padding: 60px 0 12rem;
}

#industries .ind-heading h3 {
    color: var(--text-color1);
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

#industries .ind-heading p {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color2);
}

#industries .circle {
    width: 300px;
    height: 200px;
    padding: 35px 0 0;
    perspective: 1000px;
}

#industries .circle .inner-circle {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2.3s;
    transform-style: preserve-3d;
}

#industries .circle:hover .inner-circle {
    transform: rotateY(180deg);
}

#industries .circle .inner-circle .front-circle,
#industries .circle .inner-circle .back-circle {
    position: absolute;
    width: 100%;
    min-height: 290px;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#industries .circle .inner-circle .front-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color1);
}

#industries .circle .inner-circle .front-circle h5 {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color4);
    text-align: center;
}

#industries .circle .inner-circle .back-circle {
    transform: rotateY(180deg);
}

#industries .circle .inner-circle .back-circle img {
    width: 100%;
}

#testimonials {
    background: var(--bg-color1);
    padding: 40px 0px 105px;
}

#testimonials .test-heading h3 {
    color: var(--text-color4);
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

#testimonials .test-heading p {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color4);
}

#testimonials .test-slide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 0 0;
}

#testimonials .test-slide .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffffad;
    min-width: 350px;
    padding: 10px;
    margin: 100px 20px 0;
    max-height: 250px;
    border-radius: 60px;
}

#testimonials .test-slide .card .card-head {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 15px;
}

#testimonials .test-slide .card .card-head h6 {
    font-size: 17px;
    font-weight: 600;
    line-height: 0.4;
    text-align: center;
}

#testimonials .test-slide .card .card-head p {
    font-size: 13px;
    font-weight: 300;
    color: var(--text-color3);
    text-align: center;
    line-height: 1.4;
    margin-top: 5px;
}

#testimonials .test-slide .card .card-head img {
    position: absolute;
    bottom: 83%;
    object-fit: cover;
    width: 135px;
    height: 135px;
    border: 10px solid #003060;
    border-radius: 50%;
}

#testimonials .test-slide .card .card-head .card-title {
    position: relative;
    top: 25px;
}

#testimonials .test-slide .card .card-body {
    padding: 40px 20px 0;
    height: 250px;
}

#testimonials .test-slide .card .card-body p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color3);
    line-height: 1.6;
    text-align: left;
}

#technology {
    background: var(--bg-color2);
    padding: 50px 0 70px;
}

#technology .tech-heading h3 {
    color: var(--text-color1);
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

#technology .tech-heading p {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color2);
}

#technology .client-slide {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

#technology .slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 170px !important;
    border: 1px solid #000;
}

#technology .slide img {
    width: 150px;
    height: 85px;
    object-fit: contain;
}

#technology .slide.xero img {
    width: 75px;
}

#pantheons.leaders {
    background: var(--bg-color3);
    padding: 70px 0;
}

#pantheons.leaders .leader-details {
    position: relative;
    margin-top: 50px;
}

#pantheons.leaders .lead-heading h3 {
    color: var(--text-color1);
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

#pantheons.leaders .lead-heading p {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color2);
}

#pantheons.leaders .leader-img {
    position: relative;
    width: 100%;
    height: auto;
    transition: linear 0.2s;
    z-index: 1;
}

#pantheons.leaders .leader-img img {
    width: 80%;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    transition: ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#pantheons.leaders .leader-img img:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#pantheons.leaders .leader-img:hover .leader-content {
    animation: moveDown 1s linear forwards;
    opacity: 0;
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(175px);
    }
}

#pantheons.leaders .leader-content {
    position: relative;
    bottom: 10rem;
    left: 13%;
    z-index: -1;
    opacity: 0;
}

#pantheons.leaders .leader-content h6 {
    font-size: 22px;
    font-weight: 600;
    line-height: 12px;
    color: var(--text-color3);
}

#pantheons.leaders .leader-content p {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color2);
    line-height: 1.5;
}

#pantheons.leaders .leader-content p i {
    color: #003060;
}

#pantheons.hods {
    background: var(--bg-color3);
    padding: 0 0 100px;
}

#pantheons.hods .hods-details {
    position: relative;
    margin-top: 50px;
}

#pantheons.hods .hod-heading h3 {
    color: var(--text-color1);
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

#pantheons.hods .hod-heading p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color2);
}

#pantheons.hods .hods-img {
    position: relative;
    width: 100%;
    height: auto;
    transition: linear 0.2s;
    z-index: 1;
}

#pantheons.hods .hods-img img {
    width: 90%;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    transition: ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#pantheons.hods .hods-img img:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#pantheons.hods .hods-img:hover .hods-content {
    animation: moveDown 1s linear forwards;
    opacity: 0;
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(175px);
    }
}



#pantheons.hods .hods-content {
    position: relative;
    bottom: 10rem;
    left: 13%;
    z-index: -1;
    opacity: 0;
}

#pantheons.hods .hods-content h6 {
    font-size: 22px;
    font-weight: 600;
    line-height: 12px;
    color: var(--text-color3);
}

#pantheons.hods .hods-content p {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color2);
    line-height: 1.5;
}

#pantheons.hods .hods-content p i {
    color: #003060;
}

#pantheons.supervision {
    background: var(--bg-color3);
    padding: 0 0 100px;
}

#pantheons.supervision .supervision-details {
    position: relative;
    margin-top: 50px;
}

#pantheons.supervision .supervision-heading h3 {
    color: var(--text-color1);
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

#pantheons.supervision .supervision-heading p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color2);
}

#pantheons.supervision .supervision-img {
    position: relative;
    width: 100%;
    height: auto;
    transition: linear 0.2s;
    z-index: 1;
}

#pantheons.supervision .supervision-img img {
    width: 90%;
    height: 250px;
    object-fit: cover;
    border-radius: 60px;
    transition: ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#pantheons.supervision .supervision-img img:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#pantheons.supervision .supervision-img:hover .supervision-content {
    animation: moveDown 1s linear forwards;
    opacity: 0;
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(175px);
    }
}

#pantheons.supervision .supervision-content {
    position: relative;
    bottom: 10rem;
    left: 5%;
    z-index: -1;
    opacity: 0;
}

#pantheons.supervision .supervision-content h6 {
    font-size: 22px;
    font-weight: 600;
    line-height: 12px;
    color: var(--text-color3);
}

#pantheons.supervision .supervision-content h6 i {
    color: #003060;
}

#gallery {
    background: var(--bg-color1);
    padding: 60px 0 100px;
}

#gallery .gall-heading h3 {
    color: var(--text-color4);
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

#gallery .gall-heading p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color4);
}

#gallery .images {
    grid-template-columns: 250px 250px 250px;
    display: grid;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#gallery .emp-img img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}